# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# OS
Thumbs.db
.DS_Store

# Database (don’t commit)
data/*.db
data/*.sqlite
data/*.sqlite3

# Reports (optional; keep ignored for now)
reports/*.csv
